# Default ignored files
/.idea.WorkSpace/.idea/workspace.xml
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
Properties
bin/Debug
obj
.DS_Store
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
! .cs
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
